/* css styles */
form > label {
  color: #4b4d4f;
  font-weight: 600;
  font-size: 0.9125rem;
  letter-spacing: 0.4px;
  --label-width: 180px;
}
.legend {
  justify-content: flex-end;
}
form {
  margin-bottom: 1em;
}
.figure-notes {
  font-size: 0.8em;
}
h1 h2 h3 {
  margin-top: 0.5em;
}